@page
@model IndexModel
@{
    ViewData["Title"] = "Дипломный проект LiteCall";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/Htomsik">GitHub</a>.</p>
    <br />
    <img src="https://avatars.githubusercontent.com/u/100942945?v=4" width="500"/>
</div>
