@page
@model IndexModel
@{
    ViewData["Title"] = "Дипломный проект LiteCall";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Выпускная квалификационная работа
        на тему: «Разработка серверной части мессенджера LiteCall с клиент-серверной архитектурой»

    </p>
    <img src="logo.ico" sizes="80%" />
    <br />
</div>
